$header-footer: #021b2b;
$lightBlue-hero: #00aaff;
$green-services: #b0da09;
$orange-proyect: #e45646;
$pink-contacto: rgb(255, 0, 170);

$font-light: #fffff7;/* para header/footer */
$font-dark: #0d0d0d;
$font-ultraDark: #140000; /* para red */

$shadow: #FFb703;