@import "general";

$titulos_Cantora: 'Cantora One', sans-serif;
$titulos_Signika: 'Signika', sans-serif;
$tituos_Staatliches: 'Staatliches', cursive;

$texto_Dosis: 'Dosis', sans-serif;
$texto_Outfit: 'Outfit', sans-serif;
$texto_Arsenal: 'Arsenal', sans-serif;

$encabezadoPpal_Anton: 'Anton', sans-serif;
$encabezadoPpal_Orbitron: 'Orbitron', sans-serif;
$encabezadoPpal_SigmarOne: 'Sigmar One', cursive;
$encabezadoPpal_Bangers: 'Bangers', cursive;